section.resume-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    color: #5DA0A2;
}

.resume-section-ed {
    padding:48px;
}

.text-primary {
    color: #5DA0A2;
}

#email {
    color: #5DA0A2;
}
